{% extends 'layout.html.twig' %}

{% block content %}
    <head>
        <script src="assets/JS/script.js"></script>
    </head>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <b>Some text in the modal.</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-confirm" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>

    <div class="home_container_desktop ">
        <div class="sidebar">
            <div class="new_menu">
                <button class="new_button dropbtn" onclick="toggleMenu()"><i class="fa fa-plus"></i>NEW</button>
                <div class="myDropdown dropdown-content">
                    <form id="form_upload" class="uploadForm" method="POST" action="?action=upload" enctype="multipart/form-data" name="uploadFile">
                        <input type="file" name="file" id="file_upload" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple>
                        <input id="fileName" class="toHide" type="text" name="name" placeholder="type here the name of your file">
                        <label class="upload_label" for="file_upload"><i class="fa fa-upload"></i><span>Upload a file</span></label>
                    </form>
                    <form id="form_upload" class="addFolder" method="POST" action="?action=addFolder" name="addFolder">
                        <input id="folderName" class="toHide" type="text" name="name" placeholder="type here the name of your folder">
                        <label class="addFolder_label" for="folder_upload"><i class="fa fa-folder"></i><span>Create a folder</span></label>
                    </form>
                </div>
            </div>

            <div class="tree">
                <div class="nav">
                    <a href="#">
                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-caret-down"></i>
                        <i class="fa fa-folder"></i>
                        <p>Filer</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="main_content">
            <div class="path">
                <a class="back_button precedent" href="#"><i class="fa fa-chevron-left"></i></a> <!-- go back -->
                <a href="#"><h5>Filer</h5></a>
                <i class="fa fa-chevron-right"></i>
                {% for key, element in tree %}
                    {% if element['isFolder'] %}
                        {% if element['id'] %} {# id Get #}
                            <a href="#"><h5>{{ element['name'] }}</h5></a>
                            <i class="fa fa-chevron-right"></i>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="error_container">
                <p>{{ errorMessage }}</p>
            </div>
            <div class="rows_container">
                <div class="main_row">
                    <div class="col-1">
                        <b>Type</b>
                    </div>
                    <div class="col-2">
                        <b>Name</b>
                    </div>
                    <div class="col-2">
                        <b>Size</b>
                    </div>
                    <div class="col-2">
                        <b>Uploaded</b>
                    </div>
                    <div class="col-5">
                        <b>Options</b>
                    </div>
                </div>

                <!-- display rows with files-->

                {% if arrayElement is defined %}
                    {% set numberForId = 0 %}
                    {% for key, element in arrayElement %}
                        {% set numberForId = numberForId + 1 %}
                        {% if element['isFolder'] %}{# to change, because some file don't have any extension.#}
                            {% include 'inc/folder.html.twig' with {'folder':element} %}
                        {% else %}
                            {% include 'inc/file.html.twig' with {'file':element} %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>

        <div class="infos">
        </div>
    </div>





    <script src="assets/JS/dragAndDropHandler.js"></script>
    <script src="assets/JS/fileFunctions.js"></script>
    <script src="assets/JS/files.js"></script>

    <div class='centeringDiv blueBackground'>
        <div class='listFilesUser'>
            {% if arrayElement is defined %}
                {% set numberForId = 0 %}
                {% for key, element in arrayElement %}
                    {% set numberForId = numberForId + 1 %}
                    {% if element['type'] == ''%}{# to change, because some file don't have any extension.#}
                        {% include 'inc/folder.html.twig' with {'folder':element} %}
                    {% else %}
                        {% include 'inc/file.html.twig' with {'file':element} %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}