<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Filer</title>
    <meta name="author" content="Jonathan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class="nav_container">
        <div class="logo_container">
            <a class="navbar-brand" href="#">FILER</a>
        </div>
        <ul>
            {% if currentUser is defined and currentUser is not empty %}
                <li>
                    <p class="welcome_text"><i class="fa fa-user-o"></i>{{ currentUser }}</p>
                </li>
                <li>
                    <form id="form_logout" action="?action=logout" method="POST">
                        <i class="fa fa-power-off"></i>
                        <input type="submit" value="Logout">
                    </form>
                </li>
            {% else %}
                <li>
                    <a href="?action=register"><i class="fa fa-user-plus" aria-hidden="true"></i>register</a>
                </li>
                <li>
                    <a href="?action=login"><i class="fa fa-sign-in" aria-hidden="true"></i>log in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>

    <div id="main_container">
        {% block content %}{% endblock %}
    </div>

    <footer>
    </footer>
    <div id="modal_upload_content"></div>
</body>
</html>