{%  include 'inc/head.html.twig' %}
    <body>
        {%  include 'inc/header.html.twig' %}
        <div id="login_container">
            <form name="connect" method="POST" action="logIn.php" class="toHide">
                <label for="username">username :</label>
                <input type="text" name="username" id="username" class="register_input" placeholder="username">
                <label for="password">password : </label>
                <input type="password" name="password" id="password" class="register_input" placeholder="*******">
                <br>
                <button class="login register_input">LOGIN</button>
            </form>
        </div>



        <p id="message" class="message red">
            <?php echo $_SESSION['errorMessage'];?>
        </p>

        <script src="assets/JS/login.js"></script>
    </body>
</html>